.main-page-container {
  background-color: #ececec;
  padding: 20px;
  min-height: 100vh;

  h2 {
    color: #333;
  }

  table {
    width: 100%;
    margin-top: 20px;

    th,
    td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;

      &:last-child {
        text-align: center;
      }
    }

    th {
      background-color: #4caf50;
      color: #fff;
    }

    tr:hover {
      background-color: #f5f5f5;
    }

    .btn-delete {
      background-color: #e74c3c;
      color: #fff;

      &:hover {
        background-color: #c0392b;
      }
    }

    .btn-save {
      background-color: #2ecc71;
      color: #fff;


      &:hover {
        background-color: #27ae60;
      }
    }

    .btn-cancel {
      background-color: #ccc;
      color: #fff;


      &:hover {
        background-color: #b0aeae;
      }
    }

    .btn-add-contact {
      background-color: #3498db;
      color: #fff;


      &:hover {
        background-color: #2980b9;
      }
    }
  }
}

.contact-form {
  .form {
    margin: 20px;
  }

  label {
    font-weight: bold;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}

.main-page-container > div:nth-child(3) > button:nth-child(1) {
  margin-top: 1em;
}

div.row:nth-child(4) > div:nth-child(1) > button:nth-child(1) {
  margin-top: 1em;
}

.btn-secondary {
  margin-top: 1em;
}